/* Primary Colors */

$primary-color: hsl(256, 26%, 20%);
$secondary-color: hsl(216, 30%, 68%);

/* Neutral Colors */

$dark-color: hsl(270, 9%, 17%);
$dark-gray-color: hsl(273, 4%, 51%);
$light-gray-color: hsl(0, 0%, 98%); 

