/* Font Family */

$font-family-title: 'DM Serif Display', sans-serif;
$font-family-copy: 'Karla', sans-serif;

/* Font Size */

$font-size-title: 4rem;
$font-size-subtitle: 2.4rem;
$font-size-copy: 1.4rem;

/* Line-Height */

$line-height-title: 1.1;
$line-height-copy: 1.5;