.footer {
    margin-top: 140px;
    padding: 80px 20px;
    background-color: $light-gray-color;
    text-align: center;
    font-size: $font-size-copy;
    background-image: url(/images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;

    @include media (large-dev) {
        margin-top: 80px;
    }

    &__head {
        @include media (large-dev) {
            display: flex;
            justify-content: space-between;
            padding: 0 140px;
        }
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__social-networks {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;

        @include media (large-dev){
            margin: 0;
            display: block;
            width: auto;

            img {
                margin-left: 10px;

                &:hover {
                    filter: hue-rotate(120);
                }
            }
        }
    }

    hr {
        border: 0;
        border-top: 0.5px solid #cecece;
    }

    &__container {

        @include media (large-dev) {
            display: flex;
            justify-content: start;
            text-align: left;
            padding: 0 140px;
        }
    }

    &__company {
        margin: 40px auto 30px;

        @include media (large-dev) {
            margin: 40px 160px 30px 0;
        }

        &--title {
            margin-bottom: 20px;
            font-weight: 700;
            color: $dark-gray-color;
        }
        
        &--list-item {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
            color: $dark-color;

            a:hover {
                text-decoration: underline
            }

        }
    }
     
    &__help {
        @extend .footer__company;

        &--title {
            @extend .footer__company--title;
        }

        &--list-item {
            @extend .footer__company--list-item;
        }
    }

    &__contact {
        @extend .footer__company;

        &--title {
            @extend .footer__company--title;
        }

        &--list-item {
            @extend .footer__company--list-item;
        }
    }

    &__others {
        @extend .footer__company;

        &--title {
            @extend .footer__company--title;
        }

        &--list-item {
            @extend .footer__company--list-item;
        }
    }

}

.attribution {
    margin-top: 80px;
}


    
    
