.work {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    background-color: $primary-color;
    background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;

    &__pattern {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &__title {
        position: relative;
        z-index: 100;
        @include titles;

    }

    &__button {
        margin-top: 40px;
        @include btns;

        &--link {
            @include btn-name;
        }
    }


}